<section class='temperature-watchlist-container'>
    <h2>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-graph" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            <path d="M7 14l3 -3l2 2l3 -3l2 2" />
        </svg>
        Temperature
    </h2>
    <div id="temperatures">
        <article class="temperature-row">
            <div class="temperature-name">
                <h3><%= weather_data[:address] %></h3>
                <p><%= weather_data[:timezone] %></p>
                <p>---------</p>
                <p><%= weather_data[:from_cache] ? 'READ FROM CACHE' : 'LIVE' %></p>
            </div>
            <div class="temperature-info">
                <p class="price"><%= weather_data[:temperature] %> <%= weather_data[:unit] %></p>
            </div>
        </article>
    </div>
</section>
